/log/*
/tmp
.classpath
.project
.settings
*.class
*~
*.bak
*.cache
*.log
*.pid
*.war

bin/classes
bin

public/docs/*
public/assets/*
public/fonts/*

doc/app
solr/data*
solr/development*
solr/test*
solr/default*

log/*
target/*
/target/
